body{
    background-color: rgb(49, 48, 48);
}
.slider{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    height: 80vh;
    z-index: 1;
    
}
.slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(14, 13, 13,0.6),transparent);
    z-index:-1;
    pointer-events: none;
}
li{
    list-style: none;
}
.menubox{
    background-color: rgb(30, 29, 29,0.6);
   
}
/* .mySwiper button{
        background-color: red;
        border-radius: 20px;
        color: white;
        padding: 0 8px 0 8px;
} */
.moviecarousal::-webkit-scrollbar{
    display: none;

}
.arrowbutton{
    background-color: rgb(63, 62, 62,0.8);
}
.arrowbutton:hover{
    background-color: black;
}
.yearscroll{
    overflow-x: hidden;
    background-color: rgb(38, 38, 38,0.9);
}   

.yearscroll::-webkit-scrollbar{
    
    background: gray; 
    width: 7px;
    border-radius: 5px; 
    
    
 
}
.yearscroll::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;     /* Track color */
  
}
/* .yearscroll div:hover{
    cursor: pointer;
    color: white;

    

} */
.searchbox{
    background-color: rgb(64, 63, 63,0.5);
    border-radius: 10px;
    /* padding: 5px 0px 5px 0px; */
    width: 150px;
    
    
    
}
.eachmoviebox:hover{
    background-color: rgb(205, 202, 202,0.3);
}
